NEXT_PUBLIC_SITE_URL=http://localhost:3000

DATABASE_URL="postgresql://postgres:psql%40ty8080@localhost:5432/ourlittleworld_db_local"

# NextAuth
AUTH_SECRET="koHF7ixWBlUY3MymWt+bGPUe0V/I8t448Ohpa9KjBsdk=" # Required for NextAuth

# SMTP (Email Provider)
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER="hentyna11@gmail.com"
SMTP_PASSWORD="buikaqqkuuabnjqd"
SMTP_FROM="hentyna11@gmail.com"

# AI Features
OPENAI_API_KEY="your_openai_api_key_here" # Required for Receipt OCR

# Cloudinary (Image Storage)
CLOUDINARY_CLOUD_NAME="your_cloud_name"
CLOUDINARY_API_KEY="your_api_key"
CLOUDINARY_API_SECRET="your_api_secret"
